Repository andresmgsl/solana-cohort-june-2022, pull requests merged in 2022-08, with the labels that each got.

#90 Fix `BountyList` filtering bug; make `BountyCard` clickable
  src/components/common/bounty-list/index.tsx
  src/components/explorer-page/bounty-card/index.tsx
  src/components/explorer-page/featured-section/index.tsx
  src/mocks/bounties.ts
  src/pages/explorer/[bounty].tsx
  src/types/bounty.ts
  src/utils/bounties.ts
Labels: bug, common

#92 Refactor overflow menu, implement redesign.
  next.config.js
  src/components/common/button/index.tsx
  src/components/common/card/index.tsx
  src/components/common/chip/index.tsx
  src/components/common/image/index.tsx
  src/components/common/layout/header/index.tsx
  src/components/common/overflow-menu/index.tsx
  src/components/common/text/index.tsx
  src/styles/globals.css
  tailwind.config.js
  yarn.lock
Labels: enhancement, common

#93 Enable data fetching and render Markdown content in Bounty Details page
  package-lock.json
  package.json
  src/components/common/markdown/index.tsx
  src/lib/github.ts
  src/pages/explorer/[bounty].tsx
  src/types/bounty.ts
  src/utils/bounties.ts
  yarn.lock
Labels: enhancement, details-page

#95 Added Min Height to `stats-section`
  src/components/home-page/stats-section/index.tsx
Labels: enhancement, landing-page

#94 Added Snap Feature to `featured bounty section`
  src/components/explorer-page/bounty-card/index.tsx
  src/components/explorer-page/featured-section/index.tsx
Labels: enhancement, explorer-page

#81 Integrate wallet to the app
  package-lock.json
  src/components/common/context/ContextProvider.tsx
  src/components/common/layout/header/index.tsx
  src/components/common/overflow-menu/index.tsx
  src/pages/_app.tsx
  yarn.lock
Labels: enhancement, common

#100 Refactor command palette
  src/components/common/Search/index.tsx
  src/components/common/command-palette/index.tsx
  src/components/common/layout/header/index.tsx
  src/components/common/search-bar/index.tsx
  src/pages/_app.tsx
  yarn.lock
Labels: enhancement, common

#102 Create left section in Fund-tab.
  src/components/common/text/index.tsx
  src/components/detail-page/about-section/index.tsx
  src/components/detail-page/fund-tab/index.tsx
  src/components/detail-page/fund-tab/transaction-card/index.tsx
  src/pages/explorer/[bounty].tsx
Labels: details-page

#103 Implement leveling system
  src/components/profile-page/hero/index.tsx
  src/utils/index.ts
  tailwind.config.js
Labels: enhancement, profile-page

#105 Toggle between open and closed bounties
  postcss.config.js
  src/components/common/button/index.tsx
  src/components/common/overflow-menu/index.tsx
  src/lib/github.ts
  src/pages/[username].tsx
  src/pages/explorer.tsx
  src/pages/explorer/[bounty].tsx
  src/types/bounty.ts
  src/types/github.ts
  src/utils/bounties.ts
Labels: enhancement, explorer-page, profile-page, common, details-page

#106 New Wallet Component
  src/components/common/button/index.tsx
  src/components/common/chip/index.tsx
  src/components/common/overflow-menu/index.tsx
  src/components/common/wallet-adapter/Button.tsx
  src/components/common/wallet-adapter/Collapse.tsx
  src/components/common/wallet-adapter/index.ts
  src/components/common/wallet-adapter/use-wallet-modal.tsx
  src/components/common/wallet-adapter/wallet-connect-button.tsx
  src/components/common/wallet-adapter/wallet-icon.tsx
  src/components/common/wallet-adapter/wallet-list-item.tsx
  src/components/common/wallet-adapter/wallet-modal-button.tsx
  src/components/common/wallet-adapter/wallet-modal-provider.tsx
  src/components/common/wallet-adapter/wallet-modal.tsx
  src/components/common/wallet-adapter/wallet-multi-button.tsx
  src/components/common/wallet-adapter/wallet-svg.tsx
  src/pages/_app.tsx
  src/providers/ContextProvider.tsx
Labels: enhancement, common

#108 Enable Drill data fetching
  package-lock.json
  package.json
  src/components/common/button/index.tsx
  src/components/common/overflow-menu/index.tsx
  src/components/detail-page/fund-tab/index.tsx
  src/components/explorer-page/bounty-card/index.tsx
  src/components/profile-page/hero/index.tsx
  src/hooks/use-bounties-by-assignee.ts
  src/hooks/use-bounties.ts
  src/hooks/use-user.ts
  src/lib/bounties.ts
  src/lib/drill.ts
  src/lib/fetcher.ts
  src/lib/github.ts
  src/lib/user.ts
  src/pages/[username].tsx
  src/pages/api/[username].ts
  src/pages/api/auth/[...nextauth].ts
  src/pages/api/bounties/[username].ts
  src/pages/api/bounties/index.ts
  src/pages/explorer.tsx
  src/pages/explorer/[id].tsx
  src/styles/globals.css
  src/types/bounty.ts
  src/types/drill.ts
  src/types/user.ts
  src/utils/bounties.ts
  src/utils/drill/get-program.ts
  src/utils/drill/index.ts
  src/utils/index.ts
  yarn.lock
Labels: enhancement, common

#109 Current Balance
  src/components/detail-page/fund-tab/index.tsx
  yarn.lock
Labels: enhancement, details-page

#112 Implement front-end for Bounty creation flow
  src/components/common/layout/header/nav-element/index.tsx
  src/pages/[username].tsx
  src/pages/explorer.tsx
  src/pages/explorer/new.tsx
  yarn.lock
Labels: enhancement, explorer-page, profile-page, common

#127 Create backend for "New Bounty" page
  src/lib/github.ts
  src/lib/user.ts
  src/pages/[username].tsx
  src/pages/api/auth/[...nextauth].ts
  src/pages/api/bounties/index.ts
  src/pages/explorer/new.tsx
  src/types/user.ts
Labels: enhancement

#119 Make design changes to bounty-related pages
  src/components/common/bounty-list/index.tsx
  src/components/explorer-page/bounty-card/index.tsx
  src/pages/[username].tsx
  src/pages/explorer.tsx
  src/pages/explorer/[id].tsx
Labels: explorer-page, common, details-page

#139 Remove Unused packages
  package.json
  src/components/common/overflow-menu/index.tsx
Labels: enhancement

#138 Adding validation for the new bounty form
  src/pages/explorer/new.tsx
  yarn.lock
Labels: enhancement, explorer-page

#150 Add UI writing, as well as design and responsiveness changes to `Home`-page
  src/components/common/overflow-menu/index.tsx
  src/components/common/text/index.tsx
  src/components/detail-page/fund-tab/index.tsx
  src/components/explorer-page/featured-section/index.tsx
  src/components/home-page/about-section/index.tsx
  src/components/home-page/actions-section/index.tsx
  src/components/home-page/faq-section/accordion/accordion-item/index.tsx
  src/components/home-page/faq-section/accordion/index.tsx
  src/components/home-page/faq-section/index.tsx
  src/components/home-page/hero-section/headlines/index.tsx
  src/components/home-page/hero-section/index.tsx
  src/components/home-page/stats-section/index.tsx
  src/pages/explorer/new.tsx
Labels: landing-page
