Repository andresmgsl/solana-cohort-june-2022, pull requests merged in 2022-07, with the labels that each got.

#43 Refactor `Actions`-section based on redesign.
  package-lock.json
  src/components/common/card/index.tsx
  src/components/common/chip/index.tsx
  src/components/explorer-page/featured-section/featured-bounty-card/index.tsx
  src/components/explorer-page/featured-section/index.tsx
  src/components/home-page/actions-section/index.tsx
  src/pages/explorer.tsx
  tailwind.config.js
  yarn.lock
Labels: landing-page

#42 [Landing Page] Refactor FAQ Section
  src/components/common/layout/footer/index.tsx
  src/components/home-page/faq-section/accordion/accordion-item/index.tsx
  src/components/home-page/faq-section/accordion/index.tsx
  tailwind.config.js
Labels: landing-page

#45 Create `Featured Bounties` section.
  src/components/common/chip/index.tsx
  src/components/explorer-page/featured-section/featured-bounty-card/index.tsx
  src/components/explorer-page/featured-section/index.tsx
Labels: explorer-page

#47 Making card component
  package-lock.json
  package.json
  public/dummyImg.png
  src/components/explorer-page/main-bounty-card/index.tsx
  yarn.lock
Labels: explorer-page

#53 [Profile Page] Create Profile Page Hero Section
  package-lock.json
  public/avatar.png
  src/components/profile-page/hero/index.tsx
  src/components/profile-page/hero/stars/index.tsx
  src/pages/[username].tsx
  yarn.lock
Labels: profile-page

#51 Filter section
  src/components/common/filter-section/index.tsx
  src/components/explorer-page/main-bounty-card/index.tsx
Labels: explorer-page

#57 Add `OpenBounties` to Explorer and Profile Pages
  src/components/common/filter-section/index.tsx
  src/components/common/layout/header/index.tsx
  src/components/common/main-bounty-card/index.tsx
  src/pages/[username].tsx
  src/pages/explorer.tsx
Labels: bug, enhancement, explorer-page, profile-page, common

#59 Fix `FeaturedBountyCard` overflow issue (#58).
  src/components/common/card/index.tsx
  src/components/explorer-page/featured-section/featured-bounty-card/index.tsx
  src/components/explorer-page/featured-section/index.tsx
  tailwind.config.js
Labels: bug, explorer-page

#63 Implement `FilterSection` Design
  src/components/common/filter-section/index.tsx
  src/components/explorer-page/open-bounties-section/index.tsx
Labels: enhancement, explorer-page, profile-page

#64 Enable Bounty Client-Side Input Filtering
  src/components/common/bounty-list/index.tsx
  src/components/common/button/index.tsx
  src/components/common/card/index.tsx
  src/components/common/chip/index.tsx
  src/components/common/filter-section/index.tsx
  src/components/common/text/index.tsx
  src/components/explorer-page/bounty-card/index.tsx
  src/components/explorer-page/featured-section/index.tsx
  src/components/explorer-page/open-bounties-section/index.tsx
  src/components/home-page/faq-section/accordion/accordion-item/index.tsx
  src/components/home-page/hero-section/index.tsx
  src/components/profile-page/hero/stars/index.tsx
  src/mocks/bounties.ts
  src/pages/[username].tsx
  src/pages/explorer.tsx
  src/types/bounty.ts
  src/utils/index.ts
Labels: enhancement, explorer-page, profile-page, common

#72 Redesign `Header`.
  src/components/common/button/index.tsx
  src/components/common/layout/header/index.tsx
  src/components/common/layout/header/nav-element/index.tsx
  src/components/common/layout/header/side-navigation/index.tsx
  src/components/common/search-bar/index.tsx
  src/components/common/text/index.tsx
  tailwind.config.js
Labels: enhancement, common

#73 Add `createdAt` attribute to Bounties
  package-lock.json
  package.json
  src/components/explorer-page/bounty-card/index.tsx
  src/components/explorer-page/featured-section/index.tsx
  src/mocks/bounties.ts
  src/types/bounty.ts
  src/utils/index.ts
  yarn.lock
Labels: enhancement, common

#75 Ensure `BountyCard` tags are aligned properly.
  src/components/explorer-page/bounty-card/index.tsx
Labels: invalid

#74 Improve `Header`.
  public/logo-icon.svg
  public/logo-text.svg
  public/logo.svg
  src/components/common/image/index.tsx
  src/components/common/layout/header/index.tsx
  src/components/common/text/index.tsx
  src/styles/globals.css
Labels: enhancement

#66 Finish Settings Page (Responsive)
  public/dummyHolder.png
  src/components/profile-page/settings/index.tsx
  src/components/profile-page/settings/profile-integrations/index.tsx
  src/components/profile-page/settings/profile-settings/index.tsx
  src/pages/sett.tsx
Labels: profile-page

#76 Enable Basic GitHub Authentication
  package-lock.json
  package.json
  src/components/common/button/index.tsx
  src/components/common/layout/header/index.tsx
  src/components/profile-page/hero/index.tsx
  src/mocks/user.ts
  src/pages/[username].tsx
  src/pages/_app.tsx
  src/pages/api/auth/[...supabase].ts
  src/types/user.ts
  yarn.lock
Labels: common

#80 center about section
  src/components/home-page/about-section/index.tsx
Labels: landing-page

#77 Make responsiveness and design changes.
  src/components/common/button/index.tsx
  src/components/common/layout/footer/index.tsx
  src/components/common/layout/header/index.tsx
  src/components/common/stat-item/index.tsx
  src/components/common/text/index.tsx
  src/components/home-page/hero-section/component/Headline.tsx
  src/components/home-page/hero-section/headlines/headline/index.tsx
  src/components/home-page/hero-section/headlines/index.tsx
  src/components/home-page/hero-section/index.tsx
  src/components/home-page/stats-section/index.tsx
Labels: enhancement, common

#82 Implement static bounty `Details`-page.
  src/components/common/button/index.tsx
  src/components/common/layout/header/index.tsx
  src/components/common/layout/header/nav-element/index.tsx
  src/components/common/text/index.tsx
  src/components/detail-page/about-section/index.tsx
  src/components/explorer-page/bounty-card/index.tsx
  src/components/explorer-page/featured-section/index.tsx
  src/pages/explorer/[bounty].tsx
  src/types/bounty.ts
Labels: details-page
